.show-image{
    width: 50%;
    border-radius: 10px;
    box-shadow: seagreen;
}

.sportList{
    display: inline;
    text-align: left;
    font-size: 3rem;
    font-family: "sporter";
}
.sport-font {
    font-size: 5rem;
    text-decoration: none;
    font-family: "sporter";
    color: green;
}
a{
    text-decoration: none;
}
.park-card {
    border-radius: 10px;
	box-shadow: 10px 10px 5px rgba(0,0,0,0.2);
}

.card-margin{
    margin: 100px;
}