nav {
    background: cornsilk;
    padding: 0 2% 0 2%;
    text-align: right;
  }
  
  nav a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 20px;
  }
  
  nav a:hover {
    color: burlywood;
    font-weight: 800;
  }
  
  nav li {
    display: inline-block;
    margin: 20px;
    width: 100px;
  }
  
  nav ul {
    margin: 0px;
  }
  
  h1 {
    text-align: left;
    margin: 20px 0px 20px 10px;
  }
  .navbar-item:hover {
    box-shadow: 10px 10px 100px rgba(110,140,80,0.9);    
  }