

nav {
    background: green;
    text-align: center;
    color: whitesmoke;
    justify-content: space-between;
  }
  
  nav a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 600;
    font-size: 20px;
  }
  
  nav a:hover {
    color: burlywood;
    font-weight: 800;
  }
  
  nav li {
    display: inline-block;
    margin: 20px;
    width: 100px;
    justify-content: space-around;
  }
  
  nav ul {
    margin: 0px;
    justify-content: space-around;
  }
  
  h1 {
    text-align: left;
    margin: 20px 0px 20px 10px;
  }
  .navbar-item:hover {
    box-shadow: 10px 10px 50px rgba(110,140,80,0.9);    
  }
  .nav-font{
    font-family: "sporter";
    font-size: 2rem;
  }