.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.card-image{
  width: 30vh;
}
.card-list{
  text-align: left;
  font-size: 1.3rem;
}
.park-card{
  background: ghostwhite;
}
.card-address{
  text-align: left;
}
.welcome-message{
  width: 60%;
  border-radius: 10px;
  background-image: linear-gradient( rgba(65,195,125,0.8),rgba(65,195,25,0.4));
  margin: 10px auto;
  color: whitesmoke;
  font-size: 3rem;
  padding: 20px;
}
.welcome-body{
  background: rgba(65,195,75,0.3);
}